body {
  font-family: 'Montserrat', sans-serif;
}



h1 {
  text-transform: uppercase;
  font-size: 100px;
  margin-bottom: 10px;
}

.prpl-title {
    color: #FF78FF;
}

.my-underline{
  text-decoration: underline;
}
